{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Password reset</h1>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.email.errors }}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned"></fieldset>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    <input type="text" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" required>
                </div>
                <button type="submit" class="btn btn-primary mb-4">Reset my password</button>
            </fieldset>
        </form>
        
    </div>
{% endblock content %}
